<% include partials/header %>


<div class="uk-container">
<% include partials/navbar %>
  
            <h1>This is the Resources Page</h1>
            <p>view handpicked resources for any stage of your SideGig</p>
            <p><a class="btn btn-primary btn-sm" href="/resources/new">Add New Resource</a></p>

    <p><a href="/">Back Home</a></p>

</div>

<% include partials/footer %>

